body {
    margin: 0;
    padding: 0;
    background: url('../assets/background.jpeg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

/* Stat Box Grid */
.stats-container {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    padding: 20px 40px;
    margin-top: 100px;
}

.stat-box {
    background: rgba(0, 0, 0, 0.35);
    border: 2px solid #00ff9d;
    border-radius: 15px;
    box-shadow: 0 0 18px #00ff9d;
    text-align: center;
    padding: 15px 5px;
}

.stat-box h3 {
    color: #00ffcc;
    margin: 0;
    font-size: 18px;
}

.stat-box p {
    color: #00ff99;
    font-size: 22px;
    margin-top: 5px;
}

/* Charts Row */
.charts-container {
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    margin-top: 10px;
}

.chart-box {
    width: 48%;
    height: 350px;
    padding: 15px;
    border: 2px solid #00ff9d;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 18px #00ff9d;
}

.chart-title {
    text-align: center;
    color: #00ffcc;
    margin-bottom: 8px;
    font-size: 18px;
}
.chart-box canvas {
    height: 240px !important;
    width: 80% !important;
}

.stat-box {
    transition: 0.25s ease-in-out;
    cursor: pointer;
}

.stat-box:hover {
    transform: scale(1.06);
    box-shadow: 0 0 20px #00ffcc, inset 0 0 15px #00ffcc;
    border-color: #00ffaa;
}

.chart-box canvas {
    transition: 0.25s ease-in-out;
}

.chart-box:hover canvas {
    transform: scale(1.03);
    filter: drop-shadow(0 0 20px #00ffcc);
    transition: 0.25s ease-in-out;
}
