:root {
    --neon: #5DFF4A;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: url("../assets/background.jpeg") center/cover fixed no-repeat;
    color: var(--neon);
}

body::before {
    content:"";
    position: fixed;
    top:0; left:0;
    width:100%; height:100%;
    background: rgba(0,0,0,0.55);
    z-index:-1;
}

.page-container {
    width: 90%;
    margin: 130px auto 50px auto;
}

.page-title {
    text-align:center;
    font-size: 36px;
    text-shadow: 0 0 18px var(--neon);
}

/* TOP FILTER */
.filter-row {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.filter-label {
    font-size: 20px;
    font-weight: bold;
}
.filter-select {
    padding: 10px 14px;
    width: 180px;
    background: rgba(0,0,0,0.5);
    border: 1px solid var(--neon);
    border-radius: 6px;
    color: var(--neon);
    font-weight: bold;
}

/* ACTION BAR */
.top-actions {
    display:flex;
    justify-content: space-between;
    margin-top: 15px;
}

.btn-green, .btn-red {
    padding:10px 18px;
    border-radius:6px;
    cursor:pointer;
    border:none;
    font-weight:bold;
}

.btn-green {
    background: var(--neon);
    color:black;
}

.btn-red {
    background:red;
    color:white;
}

.search-bar {
    width:200px;
    padding:10px;
    border-radius:6px;
    border:1px solid var(--neon);
    background:rgba(0,0,0,0.4);
    color:var(--neon);
}

/* TOTAL BOX */
.total-box {
    margin-top:20px;
    font-size:22px;
    text-shadow:0 0 10px var(--neon);
}

/* TABLE */
.table-box {
    margin-top:20px;
    background:rgba(0,0,0,0.7);
    padding:15px;
    border-radius:12px;
    box-shadow:0 0 18px var(--neon);
}

.exp-table {
    width:100%;
    border-collapse:collapse;
}

.exp-table th {
    padding:12px;
    border-bottom:2px solid var(--neon);
}

.exp-table td {
    padding:10px;
    border-bottom:1px solid var(--neon);
}

/* POPUPS */
.popup {
    position:fixed;
    top:0; left:0;
    width:100%; height:100%;
    background:rgba(0,0,0,0.85);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.hide {
    display:none;
}

.popup-card {
    width:350px;
    padding:20px;
    background:rgba(0,0,0,0.92);
    border-radius:12px;
    box-shadow:0 0 18px var(--neon);
    border:2px solid var(--neon);
}

.popup-input {
    width:100%;
    margin-top:10px;
    padding:10px;
    border-radius:6px;
    background:rgba(0,0,0,0.4);
    border:1px solid var(--neon);
    color:var(--neon);
}

.lbl {
    margin-top:10px;
    font-size:16px;
}
